{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'style.css' %}" />
  </head>

  <body>
    <div style="background-image: linear-gradient(rgba(0,0,0,0.8),rgba(0,0,0,0.3)),url({% static 'img1.jpeg' %})" id="back" >
    <nav id="nav-bar">
      <div id="logo">MY Train</div>
      <div id="links">
        <ul>
          <li><a class="hoa" href="">Welcome {{user.Name}}</a></li>
          <li><a class="log" href="{% url 'logout' %}">Logout</a></li>
        </ul>
      </div>
    </nav>
  

     <br><br><br><br><br><br><br>
     <div id='inner'>
      <center>
        <h1 id="dash-head">Admin Dashboard</h1> 
       <button id='btn-dash'><a href="{% url 'Add_Train' %}">Add Train</a></button><br>
        <button id='btn-dash'><a href="{% url 'train_Report' %}">Train Report</a></button><br>
        <button id='btn-dash'><a href="{% url 'viewbooking' %}">View Booking</a></button><br>
        <button id='btn-dash'><a href="{% url 'logout' %}">Logout</a></button><br>
        </center>
     </div>
    
        
       
    </div>

    <footer id="foot-bar" style="background-image: url({% static 'foot.jpg' %})">
      <center><div>Made with Love</div></center>
    </footer>
  </body>
</html>
