{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'style.css' %}" />
  </head>

  <body>
    <div
      style="background-image: linear-gradient(rgba(0, 0, 0, 0.8),rgba(0, 0, 0, 0.3)),url({% static 'img1.jpeg' %});" id="back">
      <nav id="nav-bar">
        <div id="logo">MY Train</div>
        <div id="links">
          <ul>
            <li><a class="hoa" href="{% url 'dashboard' %}">Dashboard</a></li>
            <li><a class="hoa" href="{% url 'search' %}">Search Train</a></li>
            <li><a class="hoa" href="{% url 'booking' %}">My Booking</a></li>
            <li><a class="log" href="{% url 'logout' %}">Logout</a></li>
          </ul>
        </div>
      </nav>

      {% comment %} <br /><br /><br /><br /><br /><br /><br /><br> {% endcomment %}
      <div id="contact">
        <center>
          <h1 id="dash-head1">Contact us</h1> <br><br><br>  
          
            <form action="{% url 'contact' %}" method="post">
                {% csrf_token %}
                <input type="text" value='{{Name}}' name="Cname" readonly /><br>
                <input type="text" value='{{Email}}' name="Cemail" readonly /><br>
                <textarea name="Cmsg" id="msg" placeholder="Message" required></textarea>
                <br />
                <button type="submit">Send Message</button>
              </form>
        </center>
      </div>
    </div>

    <footer id="foot-bar" style="background-image: url({% static 'foot.jpg' %})">
      <center><div>Made with Love</div></center>
    </footer>
  </body>
</html>