{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'style.css' %}" />
  </head>
  <body>
    <center>
      <div
        class="a"
        style="
          
          background-image: linear-gradient(
              rgba(0, 0, 0, 0.6),
              rgba(0, 0, 0, 0.6)
            ),
            url({% static 'img1.jpeg' %});"
        id="inside"
      >
      {% comment %} <h1 style="color:red;">{{msg}}</h1> {% endcomment %}
        <h1>Login</h1>
        <div>
          <form action="{% url "userLogin" %}" method="post">
            {% csrf_token %}
            
            <input type="email" name="email" placeholder="Email" required="" />
            <br />

            <input
              type="password"
              name="password"
              placeholder="Password"
              required=""
            />
            <br />

            <button value="SIGNIN" onclick="display();">Login</button>
          </form>
          <p>
            Don't have an Account?
            <a id="rega" href="{% url 'registerpage' %}"> Register Now!</a>
          </p>
         
        </div>
      </div>
    </center>

     {% comment %} js code for displaying the message {% endcomment %}
    <script>
      function display() {
        alert("{{msg}}");
      }
    </script>
  </body>
</html>
