{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'style.css' %}" />
  </head>
  <body>
    <center>
        <div
        class="a"
        style="
          
          background-image: linear-gradient(
              rgba(0, 0, 0, 0.6),
              rgba(0, 0, 0, 0.6)
            ),
            url({% static 'img1.jpeg' %});"
        id="inside1"
      >
      {% comment %} <h1 style="color:red;">{{msg}}</h1> {% endcomment %}
          <h1>Signup</h1>
          <div>
            <form action="{% url "user_register" %}" method="post">
              {% csrf_token %}
              <input type="text" placeholder="Full Name" name="name" required />
              <input type="email" placeholder="email" name="email" required />
              <input
                type="password"
                placeholder="password"
                name="password"
                required
              /><br />
              <input
                type="password"
                placeholder="confirm password"
                name="cpassword"
              />
              <br />
              <button value="SIGNUP"  onclick="display1();">Register</button>
            </form>
            <label for="qualification">Qualification:</label>
             <select id="qualification" name="quali" required> 
                <option value="BE">BE</option>
                <option value="B.Tech">B.Tech</option>
                <option value="ME">ME</option>
                <option value="M.Tech">M.Tech</option>
              </select><br><br><br>
            <p>
              have an Account?
              <a id="rega" href="{% url 'loginpage' %}">Login</a>
            </p><br>
          </div>   
        </div>
    </center>
    {% comment %} js code for displaying the message {% endcomment %}
    <script>
      function display1() {
        alert("{{msg}}");
      }

    </script>
  </body>
</html>
